/* small desktops */
@media screen and (max-width: 991.98px) {
/* ABOUT */
.about__wrapper {
padding: 70px 20px 20px 20px;
}
/* FOOTER */
.footer__wrapper {
min-height: 100px;
}
}

@media (max-width: 767.98px) {
/* HEADER */
.menu__body{
display: none;
}
.menu__burger{
display: block;
position: relative;
margin: 0 auto;
top: 0;
right: 0;
}
/*dropdown menu */
.menu__body{
position: fixed;
top:0;
left: 0;
width: 100%;
height: 100%;
padding: 50px 15px;
justify-content: center;
transition: left 0.3s ease 0s;
background: url(../img/header__bg.jpg);
background-size: cover;
}
.menu__list{
flex-direction: column;
justify-content: center;
align-items: center;
}
.menu__item{
margin: 0 0 25px 0;
padding: 0;
}
.menu__item:first-child{
padding: 0;
}
.menu__link{
font-size: 35px;
}
/* INTRO */
.intro__subtitle {
font-size: 20px;
line-height: 30px;
}
.intro__title {
font-size: 80px;
line-height: 100px;
}
.intro__button {
padding: 15px 30px;
line-height: 17px;
}
/* ABOUT */
.about__content {
display: grid;
grid-template-columns: repeat(1, 100%);
grid-column-gap: 0;
}
.content__image1{
grid-template-columns: repeat(1, 100%);
grid-row-gap: 2%;
}
.content__item1{
order: -4;
}
.content__image1{
order: -3;
margin: 0 0 60px 0;
}
.content__item2{
order: -2;
}
.content__image2{
order: -1;
}
/* FOOTER */
.footer__text {
font-size: 14px;
}
}
/* mobile */
@media screen and (max-width: 480.98px) {
[class*="__wrapper"]{
padding: 0 20px;
}
/* INTRO */
.intro__title {
/* font-size: 70px; */
line-height: 90px;
}
.intro__button {
padding: 10px 20px;
line-height: 14px;
font-size: 14px;
}
/* ABOUT */
.about__title {
font-size: 45px;
line-height: 35px;
padding: 60px 0 40px 0;
}
.content__title {
font-size: 20px;
line-height: 35px;
}
}
/* small mobile */
@media (max-width: 320.98px){
.about__title {
font-size: 35px;
line-height: 25px;
padding: 60px 0 40px 0;
}

}