@import url(https://fonts.googleapis.com/css?family=Anton:regular);@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);

/* nullstyle */
*,*::before,*::after{
padding: 0;
margin: 0;
border: 0;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
height: 100%;
font-size: 100%;
line-height: 1;
font-size: 16px;
-ms-text-size-adjust: 100%;
-moz-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}
input,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400, 500, 600, 700;}

body {
font-family: 'Anton', sans-serif;
color: #000000;
}
.container {
display: flex;
flex-direction: column;
min-height: 100%;
overflow: hidden;
}
[class*="__wrapper"]{
max-width: 1260px;
margin: 0 auto;
padding: 0 30px;
}
[class*="__title"]{
text-transform: uppercase;
}
[class*="__text"]{
font-family: 'Open Sans';
font-weight: 400;
font-size: 16px;
line-height: 21px;
letter-spacing: 0.1em;
}
.main{
flex: 1 1 auto;
}

/* header */
.header {
position: absolute;
width: 100%;
top: 0;
left: 0;
z-index: 13;
}
.header__wrapper {
display: flex;
align-items: center;
/* justify-content: space-between; */
min-height: 160px;
}
.header__logo{
margin: 0 5.7% 0 0;
}
.header__menu{
display: flex;
justify-content: center;
flex: 1 1 30,9%;
}
.menu__list{
display: flex;
text-transform: uppercase;
font-size: 14px;
font-weight: 400;
}
.menu__item{
padding: 0 40px 0 0;
}
.menu__item:last-child {
padding: 0;
}
.menu__link:hover{
text-decoration: underline;
}
.menu__link{
color:#fff;
}
.header__tel {
display: flex;
align-items: center;
justify-content: flex-end;
flex: 1 1 63.4%;
}
.tel__link {
padding: 0 15px;
font-weight: 400;
font-size: 17px;
line-height: 26px;
color: #FFFFFF;
text-transform: uppercase;
}
.tel__link:hover{
text-decoration: underline;
}

/* menu-burger */
.header__logo, .header__tel, .menu__burger{
z-index: 5;
}
.menu__burger{
display: none;
position: absolute;
width: 30px;
height: 20px;
}
.menu__body._active{
display: flex;
}
.menu__burger._active{
top: 0;
right: 5%;
} 
.menu__burger::before,
.menu__burger span,
.menu__burger::after{
position: absolute;
background-color: #FFFFFF;
width: 100%;
height: 10%;
left: 0;
transition: all 0.3s ease 0s;
}
.menu__burger::before,
.menu__burger::after{
content: "";
}
.menu__burger::before{
top: 0;
}
.menu__burger._active::before{
transform: rotate(45deg) translate(0px, -50%);
top: 50%;
}
.menu__burger span{
top: 50%;
transform: scale(1) translate(0px, -50%);
}
.menu__burger._active span{
transform: scale(0) translate(0px, -50%);
}
.menu__burger::after{
bottom: 0;
}
.menu__burger._active::after{
transform: rotate(-45deg) translate(0px, 50%);
bottom: 50%;
}


/* intro */

.intro{
background: url('../img/header__bg.jpg') no-repeat;
background-size: cover;
padding: 300px 0; 
}
.intro__wrapper{
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}

.intro__subtitle {
font-size: 30px;
line-height: 45px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}
.intro__title {
padding: 0 0 50px 0;
font-size: 100px;
line-height: 151px;
letter-spacing: 0.03em;
color: #FFFFFF;
}
.intro__button {
display: block;
padding: 20px 50px;
font-size: 17px;
line-height: 26px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
border: 1px solid rgba(255, 255, 255, 1);
color: #FFFFFF;
background-color: unset;
}

/* about */
.about{
background: #E5E5E5;
}
.about__wrapper {
display: flex;
flex-direction: column;
padding: 130px 20px 20px 20px;
}
.about__title {
text-align: start;
font-size: 50px;
line-height: 75px;
padding: 0 0 65px 0;
}
.about__content {
display: grid;
grid-template-columns: repeat(2, 47.5%);
grid-column-gap: 5%;
}

.content__item1{
order: -4;
}
.content__item2{
order: -3;
}
.content__image2{
order: -1;
}
.content__title {
font-size: 25px;
line-height: 38px;
}
.content__text {
padding: 35px 0 60px 0;
line-height: 26px;
}
.content__image1{
order: -2;
display: grid;
grid-template-columns: repeat(2, 50%);
grid-column-gap: 5%;
}
.content__image1 img, .content__image2 img{
display: block;
width: 100%;
height: 100%;
}

.footer {
background: #E5E5E5;
}

.footer__wrapper {
display: flex;
justify-content: center;
align-items: center;
min-height: 200px;
}
